# Data warehouse
#
**/warehouse/
**/warehouse*/
**/onelake/

# Stream Checkpoints
#
**/checkpoints/
**/checkpoints*/

# Hive metastore
#
**/metastore_db/
**/derby.log

# Test results
#
**/test-reports/

# Log files
#
*.log
**/.logs/

# Temporary folders
#
**/tmp/
**/.archive/
**/.temp/
**/.scratch/

# Build output
#
**/.scala-build/
.metals/
**/target/
**/.bloop/