#
# This file will be copied into:
#
#  /opt/spark/conf/spark-defaults.conf
#  
#  Via:
#
#  /tmp/overlay/post-attach-commands.sh
#
#------------------------------------------

# Catalog configuration
spark.sql.catalogImplementation=hive
spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog
spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension
spark.sql.sources.default=delta

# Delta schema options
spark.databricks.delta.schema.autoMerge.enabled=true

# Warehouse location
spark.sql.warehouse.dir=${GIT_ROOT}/warehouse

# OpenLineage configuration
spark.driver.extraClassPath=${GIT_ROOT}/projects/spark-scala/common-executor/target/scala-2.12/commonExecutor.jar
spark.jars.packages=io.openlineage:openlineage-spark_2.12:1.26.0
spark.extraListeners=io.openlineage.spark.agent.OpenLineageSparkListener
spark.openlineage.transport.type=file
spark.openlineage.transport.location=${GIT_ROOT}/projects/spark-scala/.temp/openlineage/lineage-from-spark-default.json
spark.plugins=me.rakirahman.spark.plugin.adlsoauthtokenproviderplugin.AdlsOAuthTokenProviderPlugin

# AdlsOAuthTokenProviderPlugin configuration
spark.plugin.adlsoauth.vault.url=https://sandboxmdrrahman.vault.azure.net
spark.plugin.adlsoauth.secret.name=sandboxmdrrahman-sni
spark.plugin.adlsoauth.output.path=/tmp/secret.txt